.body {
	background-color: red;
}

.title
{
	padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

.contactsTable
{
	border: 1px solid #ddd;
    padding: 8px;
	
	#contactsTable td{
	border: 1px solid #ddd;
}


  	
.contactDetailTable{
	border: 1px solid #ddd;
    padding: 8px;
}

